# Covid Prediction
> Exploration and analysis of covid data 

- toc: true 
- badges: true
- comments: true
- categories: [jupyter]
- image: images/covid-vaccine.jpg

In [3]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

from fbprophet import Prophet
from sklearn.metrics import r2_score

plt.style.use("ggplot")

df0 = pd.read_csv("./input/CONVENIENT_global_confirmed_cases.csv")
df1 = pd.read_csv("./input/CONVENIENT_global_deaths.csv")
df2 = pd.read_csv("./input/CONVENIENT_us_confirmed_cases.csv")
df3 = pd.read_csv("./input/CONVENIENT_us_deaths.csv")

In [4]:
df0

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom.11,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,3/31/21,70.0,434.0,131.0,66.0,129.0,0.0,16056.0,1148.0,0.0,...,4052.0,3088.0,187.0,0.0,1348.0,9.0,2288.0,110.0,219.0,43.0
435,4/1/21,63.0,349.0,112.0,43.0,88.0,11.0,14430.0,1097.0,0.0,...,4478.0,2639.0,181.0,0.0,1254.0,14.0,2292.0,174.0,131.0,14.0
436,4/2/21,55.0,336.0,125.0,62.0,68.0,5.0,9902.0,1116.0,0.0,...,3402.0,3380.0,189.0,0.0,979.0,3.0,2248.0,89.0,181.0,7.0
437,4/3/21,23.0,341.0,95.0,59.0,112.0,18.0,10384.0,1192.0,0.0,...,3423.0,2336.0,196.0,0.0,1607.0,6.0,1589.0,77.0,70.0,8.0
438,4/4/21,81.0,348.0,98.0,57.0,52.0,0.0,9955.0,590.0,0.0,...,2297.0,3853.0,188.0,0.0,1786.0,5.0,2806.0,101.0,130.0,12.0

In [5]:
df1

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom.11,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,3/31/21,8.0,8.0,4.0,0.0,1.0,0.0,122.0,18.0,0.0,...,43.0,21.0,1.0,0.0,13.0,0.0,13.0,6.0,6.0,3.0
435,4/1/21,5.0,6.0,3.0,0.0,1.0,0.0,83.0,18.0,0.0,...,51.0,35.0,1.0,0.0,13.0,0.0,18.0,18.0,4.0,0.0
436,4/2/21,6.0,6.0,3.0,1.0,0.0,0.0,82.0,19.0,0.0,...,52.0,32.0,0.0,0.0,14.0,0.0,16.0,10.0,3.0,1.0
437,4/3/21,1.0,9.0,3.0,1.0,2.0,0.0,83.0,23.0,0.0,...,10.0,30.0,0.0,0.0,18.0,0.0,20.0,16.0,0.0,0.0
438,4/4/21,1.0,9.0,3.0,0.0,2.0,0.0,93.0,17.0,0.0,...,10.0,30.0,1.0,0.0,15.0,0.0,25.0,14.0,5.0,1.0

In [6]:
world = pd.DataFrame({"Country":[],"Cases":[]})
world["Country"] = df_confirmed.iloc[:,1:].columns
#world["Country"] = df_confirmed.iloc[:1,1:].keys()
cases = []
world

NameError: name 'df_confirmed' is not defined

In [ ]:
print(df0.info())
print(df1.info())

In [ ]:
print(df0.describe())
print(df1.describe())

In [ ]:
world = pd.DataFrame({"Country":[],"Cases":[]})
world["Country"] = df0.iloc[:,1:].columns
cases = []
for i in world["Country"]:
    cases.append(pd.to_numeric(df0[i][1:]).sum())
world["Cases"]=cases

country_list=list(world["Country"].values)
idx = 0
for i in country_list:
    sayac = 0
    for j in i:
        if j==".":
            i = i[:sayac]
            country_list[idx]=i
        elif j=="(":
            i = i[:sayac-1]
            country_list[idx]=i
        else:
            sayac += 1
    idx += 1
world["Country"]=country_list
world = world.groupby("Country")["Cases"].sum().reset_index()
world.head()
continent=pd.read_csv("./input/continents2.csv")
continent["name"]=continent["name"].str.upper()
continent["name"]

In [ ]:
world["Cases Range"]=pd.cut(world["Cases"],[-150000,50000,200000,800000,1500000,15000000],labels=["U50K","50Kto200K","200Kto800K","800Kto1.5M","1.5M+"])
alpha =[]
for i in world["Country"].str.upper().values:
    if i == "BRUNEI":
        i="BRUNEI DARUSSALAM"
    elif  i=="US":
        i="UNITED STATES" 
    if len(continent[continent["name"]==i]["alpha-3"].values)==0:
        alpha.append(np.nan)
    else:
        alpha.append(continent[continent["name"]==i]["alpha-3"].values[0])
world["Alpha3"]=alpha

fig = px.choropleth(world.dropna(),
                   locations="Alpha3",
                   color="Cases Range",
                    projection="mercator",
                    color_discrete_sequence=["white","khaki","yellow","orange","red"])
fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

In [ ]:
count = []
for i in range(1,len(df_confirmed)):
    count.append(sum(pd.to_numeric(df_confirmed.iloc[i,1:].values)))

df = pd.DataFrame()
df["Date"] = df_confirmed["Country/Region"][1:]
df["Cases"] = count
df=df.set_index("Date")

count = []
for i in range(1,len(df_death)):
    count.append(sum(pd.to_numeric(df_death.iloc[i,1:].values)))

df["Deaths"] = count

df.Cases.plot(title="Daily Covid19 Cases in World",marker=".",figsize=(10,5),label="daily cases")
df.Cases.rolling(window=5).mean().plot(figsize=(10,5),label="MA5")

In [ ]:
class Fbprophet(object):
    def fit(self,data):
        
        self.data  = data
        self.model = Prophet(weekly_seasonality=True,daily_seasonality=False,yearly_seasonality=False)
        self.model.fit(self.data)
    
    def forecast(self,periods,freq):
        
        self.future = self.model.make_future_dataframe(periods=periods,freq=freq)
        self.df_forecast = self.model.predict(self.future)
        
    def plot(self,xlabel="Years",ylabel="Values"):
        
        self.model.plot(self.df_forecast,xlabel=xlabel,ylabel=ylabel,figsize=(9,4))
        self.model.plot_components(self.df_forecast,figsize=(9,6))
        
    def R2(self):
        return r2_score(self.data.y, self.df_forecast.yhat[:len(df)])
        
df_fb  = pd.DataFrame({"ds":[],"y":[]})
df_fb["ds"] = pd.to_datetime(df.index)
df_fb["y"]  = df.iloc[:,0].values

model = Fbprophet()
model.fit(df_fb)
model.forecast(30,"D")
model.R2()

forecast = model.df_forecast[["ds","yhat_lower","yhat_upper","yhat"]].tail(30).reset_index().set_index("ds").drop("index",axis=1)
forecast["yhat"].plot(marker=".",figsize=(10,5))
plt.fill_between(x=forecast.index, y1=forecast["yhat_lower"], y2=forecast["yhat_upper"],color="gray")
plt.legend(["forecast","Bound"],loc="upper left")
plt.title("Forecasting of Next 30 Days Cases")
plt.show()

## US Cases Exploration
https://www.kaggle.com/chapagain/covid-19-usa-eda-chart-graph-map/execution

In [ ]:
df_us_test = pd.read_csv("./input/us_covid19_daily.csv")
df_us_states_test = pd.read_csv("./input/us_states_covid19_daily.csv")

In [ ]:
df_cases_state = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_state.csv")

In [ ]:
state_map_dict = {
 'AL': 'Alabama',
 'AK': 'Alaska',
 'AS': 'American Samoa',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'DC': 'District of Columbia',
 'D.C.': 'District of Columbia',
 'FM': 'Federated States of Micronesia',
 'FL': 'Florida',
 'GA': 'Georgia',
 'GU': 'Guam',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MH': 'Marshall Islands',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'MP': 'Northern Mariana Islands',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PW': 'Palau',
 'PA': 'Pennsylvania',
 'PR': 'Puerto Rico',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VI': 'Virgin Islands',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'
}


state_code_dict = {v:k for k, v in state_map_dict.items()}
state_code_dict["Chicago"] = 'Illinois'

def correct_state_names(x):
    try:
        return state_map_dict[x.split(",")[-1].strip()]
    except:
        return x.strip()
    
def get_state_codes(x):
    try:
        return state_code_dict[x]
    except:
        return "Others"
    
def get_state_name(x):
    try:
        for name, code in state_code_dict.items():
            if code == x:
                return name
        return 'Others'
    except:
        return "Others"

In [ ]:
df_us_states = df_cases_state[df_cases_state['Country_Region'] == 'US'].copy()
df_us_states["State_Code"] = df_us_states["Province_State"].apply(lambda x: get_state_codes(x))

In [ ]:
import plotly.graph_objects as go

In [ ]:
fig = go.Figure(data=[go.Pie(labels=df_us_states['Province_State'], 
           values=df_us_states['Confirmed'], 
           hole=.35,
           textinfo='label+percent'
          )
])

fig.update_layout(
    title_text="US Confirmed Cases by States",
    # Add annotations in the center of the donut pies.
    annotations=[
        dict(text='Confirmed<br>Cases', showarrow=False),
    ]
)
fig.update_traces(textposition='inside')
fig.update_layout(margin={"r":0,"l":0,"b":0})
fig.show()

In [ ]:
fig = go.Figure(data=[
    go.Pie(labels=df_us_states['Province_State'], 
           values=df_us_states['Deaths'], 
           hole=.35,
           textinfo='label+percent'
          )
])

fig.update_layout(
    title_text="US Deaths Cases by States",
    # Add annotations in the center of the donut pies.
    annotations=[
        dict(text='Deaths<br>Cases', showarrow=False),
    ]
)
fig.update_traces(textposition='inside')
fig.update_layout(margin={"r":0,"l":0,"b":0})
fig.show()

In [ ]:
df_confirmed_top = df_us_states.sort_values('Confirmed', ascending=False).head(10)
fig = go.Figure(data=[
    go.Bar(name='Confirmed', x=df_confirmed_top['Province_State'], y=df_confirmed_top['Confirmed'],
           text=df_confirmed_top['Confirmed'], texttemplate='%{text:.2s}', textposition='outside'),
    go.Bar(name='Deaths', x=df_confirmed_top['Province_State'], y=df_confirmed_top['Deaths'],
           text=df_confirmed_top['Deaths'], texttemplate='%{text:.2s}', textposition='outside'),
    go.Bar(name='Recovered', x=df_confirmed_top['Province_State'], y=df_confirmed_top['Recovered'],
           text=df_confirmed_top['Recovered'], texttemplate='%{text:.2s}', textposition='outside'),
    #go.Bar(name='People Tested', x=df_confirmed_top['Province_State'], y=df_confirmed_top['People_Tested'],
    #       text=df_confirmed_top['People_Tested'], texttemplate='%{text:.2s}', textposition='outside'),
])
# Change the bar mode
fig.update_layout(
    title_text="Top 10 US States with Confirmed Cases",
    barmode='group', 
    #legend_orientation="h",
    yaxis_type='log',
    yaxis_title='Cases Count in Log Scale'
)
fig.update_layout(legend_orientation="h", legend=dict(x=0, y=1.1))
fig.update_layout(margin={"r":0,"l":0,"b":0})
fig.show()

In [ ]:
df_us_states

In [ ]:
df_us_states_test["state_name"] = df_us_states_test["state"].apply(lambda x: get_state_name(x))
df_us_states_test.head(2)

In [ ]:
df_t = df_us_states_test.groupby('date').sum().reset_index()
df_t

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_t['date'], y=df_t['positive'], 
                         mode='lines', name='Confirmed'))
fig.add_trace(go.Scatter(x=df_t['date'], y=df_t['death'], 
                         mode='lines', name='Deaths'))
fig.add_trace(go.Scatter(x=df_t['date'], y=df_t['recovered'], 
                         mode='lines', name='Recovered'))
fig.add_trace(go.Scatter(x=df_t['date'], y=df_t['hospitalized'], 
                         mode='lines', name='Hospitalized'))
fig.add_trace(go.Scatter(x=df_t['date'], y=df_t['total'], 
                         mode='lines', name='Total Tested'))

fig.update_layout(
        xaxis_title="",
        yaxis_title="Cases Count in Log Scale",
        title = 'Time Series - Confirmed, Deaths & Recovered Cases in USA',
        yaxis_type='log'
    )
fig.update_layout(
    legend=dict(
        x=0,
        y=1,
        traceorder="normal",
        #bgcolor="LightSteelBlue",
        bordercolor="silver",
        borderwidth=1
    )
)
fig.update_layout(margin={"r":0,"l":0,"b":0})
fig.show()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_t['date'], y=df_t['recovered']/df_t['positive']*100, 
                         mode='lines', name='Recovery Rate'))
fig.add_trace(go.Scatter(x=df_t['date'], y=df_t['death']/df_t['positive']*100, 
                         mode='lines', name='Death Rate'))

fig.update_layout(
        xaxis_title="",
        yaxis_title="Recovery/Death Rate Percentage (%)",
        title = 'Time Series - Recovery and Death Rate in USA',
        yaxis_type='log'
    )

fig.update_layout(
    legend=dict(
        x=0,
        y=1,
        traceorder="normal",
        #font=dict(
        #    family="sans-serif",
        #    size=12,
        #    color="black"
        #),
        #bgcolor="LightSteelBlue",
        bordercolor="silver",
        borderwidth=1
    )
)
fig.update_layout(margin={"r":0,"l":0,"b":0})
fig.show()

In [ ]:
df_t = df_us_states_test.groupby(['state_name', 'date']).sum().reset_index()
df_t["date_reported"] = pd.to_datetime(df_t["date"]).dt.strftime('%m/%d/%Y')
df_t['state'] = df_t['state_name'].apply(lambda x: get_state_codes(x))
# while calculating mortality rate, adding 1 to confirmed to avoid divide by zero
df_t['mortality_rate'] = df_t['death'] / (df_t['positive']+1) * 100

df_t2 = df_t.groupby(['date', 'state_name']).max().reset_index()
df_t2.sort_values('date', ascending=False).head()

In [ ]:
fig = px.choropleth(df_t2, locations="state", locationmode='USA-states', scope="usa",
                     hover_name="state_name", hover_data=["positive", "death", "recovered"], animation_frame="date",
                     color=np.log(df_t2["positive"]+1), 
                     title="US COVID-19 Progression Animation Over Time",
                     color_continuous_scale=px.colors.sequential.Plasma,
                   )
#fig.update_coloraxes(colorscale="hot")
#fig.update(layout_coloraxis_showscale=False)
fig.update_coloraxes(colorbar_title="Color<br>Confirmed Cases<br>in Log Scale")
fig.show()